* {
    font-family: Poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.father {
    display: flex;
    flex-flow: row nowrap;
}

.header {
    background: blue;
    display: flex;
    flex-flow: column nowrap;  
    width: 100%;
    position: fixed;
    z-index: 1;
}

.menu {
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
        height: 60px;
        align-items: center;
        background: rgba(0,0,0,.1);
        border-bottom: 1px solid rgba(255,255,255,.5)
    }
        .menu img{
            margin-top: 8px;
        }

        .nav {
            flex: 1 1 auto;
            overflow: hidden;
        }
            .nav a{
                transition: all .2s ease-in-out;
                float: right;
                color: white;
                font-size: 12px;
                text-transform: uppercase;
                padding: 0 5px;
                letter-spacing: 2px;
                text-decoration: none;
                
            }

            .nav a:hover{
                transform: scale(1.4);
                padding-left: 30px;
                padding-right: 30px;
            }

            .nav a:active{
            transition: all .002s ease-in;
            color: #96c832;
            }

#list_post{
    color: black;
    background-color: #f0f0f0;
    margin-top: calc(60px + 5vh);
    width: 60vw;
    height: calc(70vh - 30px);
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10vh;
    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: #f6f6f6;
    border-radius: 5px;
    padding: 7px;
    overflow: hidden;
}

#refresh{
    position: absolute;
    right: 30px;
    top: 8px;
    height: 20px;
    width:auto;
    transition: .2s;
}

#refresh:hover {
    transform: rotate(90deg);
}

#refresh:active{
    transform: rotate(270deg);
}

#list_text{
    height: 93%;
}

#list_names{
    background-color: #dfdfdf;
    overflow-y: scroll;
    max-height: 90%;
    margin-top: 10px;
    border-width: thin;
    border-radius: 5px;
}

dt  {
    display: flex;
    min-height: 30px;
    margin: 10px 10px  0px 5px;
    padding: 5px 5px 0px 5px;
    background-color: #f6f6f6;
    border-style: solid;
    border-color: #f6f6f6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: space-between;
    transition: all .1s ease-in-out;
}

dd  {
    transition: all .1s ease-in-out;
    min-height: 30px;
    margin: 0px 10px 10px 5px;
    padding-left: 5px;
    background-color: #f6f6f6;
    border-style: solid;
    border-color: #f6f6f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

li:hover > dd, li:hover > dt{
    background-color: #c6f6f6;
    border-color: #c6f6f6;
    box-shadow: 10px 14px 15px #a8a8a8;
}

.ver_detalles{
    transition: all .2s ease-in-out;
    padding-right: 10px;
}

.ver_detalles:hover {
    color: blue;
}

.ver_detalles:active{
    transition: all .0002s ease-in;
    color: #96c832;
}

#clearFilters{
    display: flex;
    justify-content:flex-end;
    transition: all .2s ease-in-out;
    margin-bottom: 15px;
    padding-right: 15px;
}

#clearFilters:hover {
    color: blue;
}

#clearFilters:active{
    transition: all .0002s ease-in;
    color: #96c832;
}

#combo_filter{
    position: absolute;
    right: 3vw;
    margin-top: calc(60px + 5vh);
    margin-left: 1vw;
    width: 30vw;
}

.filter {
    margin-top: 5px;
}

label{
    padding-left: 5px;
    transition: all .15s ease-in-out;
}

label:hover{
    color: blue;
}

label:active{
    transition: all .0002s ease-in;
    color: #96c832;
}

.dropbtn {
    width: 100%;
    background-color: yellowgreen;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-align: center; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all .2s ease-in-out;
}

h3{
    padding-left: 5px;
    padding-bottom: 15px;
}

.dropbtn:hover {
    background-color: #4CAF50;
}

#nameSearch {
    width: 100%;
    background-image: url('/css/img/searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#nameSearch:focus {
    outline: 3px solid #ddd;
}


.dropdown {
    width: 100%;
    position: relative;
    max-height: calc(70vh - 30px);
    overflow: auto;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.dropdown-content {
    padding-left: 5px;
    background-color: #f6f6f6;
    width: 100%;
    border: 1px solid #ddd;
}

.foot-text{
    color: white;
    padding: 5px;
}

.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    background:#012169;
    display: flex;
    justify-content: center;
}
    .foot {
        height: 50px;
        color: #666;
        text-align: center;
        padding: 0%;
    }

    .foot a{
        color: #1E4BF0;
        text-align: center;
        margin: 10px;
    }

    .foot a:hover{
        color: #96C832;
    }

@media all and (max-width: 450px){
    #list_text {
        height: 85%;
    }
    #refresh {
        position: relative;
        right: initial;
        top: initial;
    }
}