* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.father {
    background: white;
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background-image: url(/css/img/header_i.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}
    .menu {
       
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    height: 60px;
    align-items: center;
    }

    .logo {
        flex: 1 1 auto;
        color: white;
    }


    .nav {
        flex: 1 1 auto;
        overflow: hidden;
    }
        .nav a{
            float: right;
            color: white;
            font-size: 12px;
            text-transform: uppercase;
            padding: 0 5px;
            margin-bottom: 5px;
            letter-spacing: 2px;
            text-decoration: none;
            
        }

        .nav a:hover{
            transform: scale(1.2);
            margin:2%;
        }

        .anclas {
            height: 360px;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 6px;
            padding: 0%; 
        }

        
        .img {
            height: 500px;
            width: 500px;
        }
        
        .img #lu{
            width: 100%;
            height: auto;
        }

    .navs {
        display: flex;
        flex-flow: column nowrap;
        margin: 10px;
        padding: 0;
        flex-wrap: wrap;
    }

        .links{
            display: flex;
            flex-flow: row nowrap;
            overflow: hidden;
            align-items: center;
            align-content: center;
            text-align: center;
            margin-top: 2%;
            height: auto;
            flex-wrap: wrap;
        }
        .a{
            flex: 1 1 30%;
            text-align: center;
            margin: 0px;
        }
        .b{
            flex: 1 1 30%;
            text-align: center;
            margin: 10px;
            height: auto;
            border-left: #000 solid 1px;
            border-right: #000 solid 1px;
        }
        .c{
            flex: 1 1 30%;
            margin: 0px;
            height: auto;
        }

            #aa{
                color: #000;
                font-size: 16px;
                padding: 0 5px;
                text-decoration: none;
                text-align: center;
            }

            #img91{
                height: 120px;
                width: auto;
            }

    .text {
        background:white;
        text-align: center;
        justify-content:center;
        display:flex;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0%;
        padding-top: 2%;
    }

        #open{
            color: #000;
            font-family: 'Poppins';
            font-weight: 700;
            text-align: center;
            line-height: 1;
        }

            #txt {
                color: #000;
                font-family: 'Poppins';
                text-align: center;
                font-stretch: inherit;
                font-size: 22px;
            }

            #in {
                background: #280FE6;
                border: none;
                color: white;
                padding: 17px 74px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 35px;
                margin: 8px 4px;
                margin-top: 3%;
                cursor: pointer;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                border-radius: 6px;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            }
                #in:hover{
                    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
                    transform: scale(1.2);
                }

    
    .section{
        display: flex;
        flex-flow: column nowrap;
        padding: 6%;
        height: auto;
    }
        .art{
            flex: 1 1 auto;
            display: flex;
            flex-flow: row wrap;
        }

            .inf{
                flex: 1 1 40%;
                display: flex;
                flex-flow: column;
            }
                .inf h3{
                    padding: 20px;
                    margin-top: 30px;
                    padding-bottom: 0;
                    margin-bottom: 0;
                    font-size: 28px;
                }

                .inf p{
                    padding: 20px;
                    font-size: 18px;
                }
                .line{
                    margin-left: 15px;
                    width: 40px;
                    height: 10px;
                    border-bottom: 2px solid #a2ec2a;
                }
            .right{
                flex: 1 1 40%;
                display: flex;
                flex-flow: column;
                text-align: right;
            }

                .right h3{
                    padding: 20px;
                    margin-top: 30px;
                    padding-bottom: 0;
                    margin-bottom: 0;
                    font-size: 28px;
                }

                .right p {
                    padding: 20px;
                    font-size: 16px;
                }

                .right-line{
                    margin-left: 93%;
                    width: 40px;
                    height: 10px;
                    border-bottom: 2px solid #280FE6; 
                }

            .img01 {
                background-image: url(/css/img/001.png);
                flex: 1 1 40%;
                background-repeat: no-repeat;
                background-attachment: contain;
                background-size: cover;
                padding: none;
                margin: none;
            }

            .img02{
                background-image: url(/css/img/002.png);
                flex: 1 1 40%;
                background-repeat: no-repeat;
                background-attachment: contain;
                background-size: cover;
                padding: none;
                margin: none;
            }

            
    .text2 {
        text-align: center;
        justify-content:center;
        display:flex;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0%;
        padding-top: 2%;
        padding-bottom: 2%;
        flex-wrap: wrap;
        background: white;
    }

    .lagash {
        display: flex;
        flex: 1 1 auto;
        flex-flow: row wrap;
        align-content: center;
        text-align: center;
        
        padding-bottom: 0;
        margin-bottom: 0;
    }
        .gps{
            flex: 1 1 40%;
        }

        .gps iframe{
            padding: 6%;
            padding-top: 0%;
        }

    .text3 {
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        text-align: center;
        flex-direction: column;
    }


        .footer {
            background:white;
            display: flex;
            justify-content: center;
        }
            .foot {
                width: 500px;
                height: 30px;
                color: #666;
                text-align: center;
                padding: 1%;
            }
        
            .foot a{
                color: #1E4BF0;
                text-align: center;
                margin: 10px;
            }
        
            .foot a:hover{
                color: #96C832;
            }

@media all and (max-width: 800px){
    .section{
        flex-direction: column;
        height: auto;
    }
        .art {
            flex-direction: column;
        }
    .menu {
        flex-direction: column;
        height: auto;
    }
    .lagash {
        flex-direction: column;
        height: auto;
    }
        .gps{
            flex: 1 1 auto;
        }

            .gps iframe{
                width: 100%;
                height: auto;
            }
        .works{
            flex: 1 1 auto;
        }

            .works #w{
                width: 100%;
                height: auto;
    
            }
    
    .img {
        width: 80%;
        height: auto;
    }
        .img #lu {
            width: 100%;
            height: auto;
        }
    
    .navs {
        flex-direction: column;
        height: auto;
    }
        .links {
            flex-direction: column;
            height: auto;
        }
        .a{
            flex-direction: column;
            height: auto;
        }
        .b{
            flex-direction: column;
            border: none;
            height: auto;
        }
        .c{
            flex-direction: column;
            height: auto;
        }
    .links{
        flex-direction: column;
        height: auto;
    }

    .right{
        text-align: center;
    }

    .inf{
        text-align: center;
    }

    #open {
        font-size: 30px;
        padding:  0% 10%;
        text-align: center;
        padding-top: 2%;
    }

    #txt {
        font-size: 18px;
        text-align: center;
        padding: 0% 10%;
    }
}

@media all and (max-width:600px){
    .inf{
        flex-direction: column;
    }
    .lagash {
        flex-direction: column;
        height: auto;
    }
        .gps{
            flex: 1 1 auto;
            padding: 3%;
        }

            .gps iframe{
                width: 100%;
                height: auto;
            }
        .works{
            flex: 1 1 auto;
            padding: 3%;
        }

            .works #w{
                width: 100%;
                height: auto;
            }
    .text {
        flex-direction: column;
        height: auto;
    }

        #in {
            font-size: 20px;
        }
}

@media all and (max-width:400px){
    .lagash {
        flex-direction: column;
        height: auto;
    }
        .gps{
            flex: 1 1 auto;
            padding: 3%;
        }

            .gps iframe{
                width: 100%;
                height: auto;
                margin-bottom: 2%;
            }
        .works{
            flex: 1 1 auto;
            padding: 3%;
        }

            .works #w{
                width: 100%;
                height: auto;
            }
}