* {
    font-family: Poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.father {
    background-image: url(./img/fondo.png);
    background-repeat: repeat;
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background-image: url(./img/header.png);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    height: 300px;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    height: 60px;
    align-items: center;
}

.logo {
    flex: 1 1 auto;
    color: white;
}


.nav {
    flex: 1 1 auto;
    overflow: hidden;
}

    .nav a {
        float: right;
        color: white;
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 5px;
        margin-bottom: 5px;
        letter-spacing: 2px;
        text-decoration: none;
    }

        .nav a:hover {
            transform: scale(1.2);
        }

.text-info {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 6px;
    padding: 0%;
}

.img {
    height: 300px;
    width: 300px;
}

    .img #lu {
        width: 100%;
        height: auto;
    }

.footer {
    display: flex;
    justify-content: center;
}

.foot {
    width: 500px;
    height: 30px;
    color: #666;
    text-align: center;
    padding: 1%;
}

    .foot a {
        color: #1E4BF0;
        text-align: center;
        margin: 10px;
    }

        .foot a:hover {
            color: #96C832;
        }

.m001 {
    margin: 4%;
    background: white;
    margin-top: 2%;
    padding: 2%;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
}

.t001 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

    .t001 h3 {
        color: #000;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 35px;
        line-height: 1;
    }

    .t001 p {
        font-size: 20px;
    }

.lineh1 {
    width: 40px;
    border-bottom: 2px solid #1E4BF0;
}

.imgTrack {
    margin: 2%;
}

.t002 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 20px;
}

    .t002 h5 {
        font-size: 20px;
    }

.back {
    width: 100%;
    height: 500px;
}

/*.container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.progressbar {
    display: flex;
    counter-reset: step;
}

.progressbar li {
    flex: 1 1 auto;
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
    margin: 2%;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    border-radius: 50%;

}

.progressbar li:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1%;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #1E4BF0;
}

.progressbar li.active:before{
    border-color: #1E4BF0;
}

.progressbar li.active + li:after {
    background-color: #1E4BF0;
}*/

.progress {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

    .progress .circle,
    .progress .bar {
        display: inline-block;
        background: #fff;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        border: 1px solid #d5d5da;
    }

    .progress .bar {
        position: relative;
        width: 170px;
        height: 6px;
        top: -33px;
        margin-left: -5px;
        margin-right: -5px;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

    .progress .circle .label {
        display: inline-block;
        width: 32px;
        height: 32px;
        line-height: 32px;
        border-radius: 32px;
        margin-top: 3px;
        color: #96C832;
        font-size: 14px;
    }

    .progress .circle .title {
        color: #b5b5ba;
        font-size: 12px;
        line-height: 30px;
        margin-left: 0px;
    }

.title {
    display: inline-flex;
    text-align: center;
    font-size: 14px;
}

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
    background: #1E4BF0;
}

.progress .bar.active {
    background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}

.progress .circle.done .label {
    color: #FFF;
    background: #1E4BF0;
    box-shadow: inset 0 0 2px rgba(0,0,0,.4);
}

.progress .circle.done .title {
    color: #444;
}

.progress .circle.active .label {
    color: #FFF;
    background: #1E4BF0;
    box-shadow: inset 0 0 2px rgba(0,0,0,.4);
}

.progress .circle.active .title {
    color: rgba(0,0,0,.4);
}

@media all and (max-width:1300px) {
    .progress {
        width: 100%;
        height: auto;
        margin: none;
        display: none;
    }

    .body {
        margin-top: 0px;
        margin-top: 0px;
        padding-top: 0px;
    }

    .father {
        margin: none;
    }

    .t001 {
        display: none;
    }

    .header {
        background-image: url(./img/header.png);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        height: 200px;
        margin-top: 0px;
        padding-top: 0px;
    }

    .menu {
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
        height: 40px;
        align-items: center;
    }

    .nav a {
        float: right;
        color: white;
        font-size: 10px;
        text-transform: uppercase;
        padding: 0 3px;
        margin-bottom: 3px;
        letter-spacing: 1px;
        text-decoration: none;
    }

        .nav a:hover {
            transform: scale(1.2);
        }

    .text-info {
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 4px;
        padding: 0%;
    }

    .img {
        height: 180px;
        width: 180px;
    }

        .img #lu {
            width: 100%;
            height: auto;
        }

    #l2 {
        width: 100px;
    }

    .t001 h3 {
        color: #000;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
    }

    .t001 p {
        font-size: 16px;
    }

    .lineh1 {
        width: 30px;
        border-bottom: 2px solid #1E4BF0;
    }

    .imgTrack {
        margin: 2%;
    }

    .t002 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        margin-top: 18px;
        margin-left: 0px;
    }

        .t002 #ach3 {
            font-size: 20px;
        }

        .t002 p {
            font-size: 18px;
        }

    .aa01 {
        margin-top: 2%;
    }

    .back {
        background: white;
        width: 100%;
        height: 500px;
    }

    .interview {
        margin-top: 4%;
    }
}
